body {
    background: rgb(238, 243, 245);
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    width: 80%;
    max-height: 100%;
    margin: auto;
    background: skyblue;
}

#header {
    width: 100%;
    height: 20%;
    max-height: 100%;
    float: left;
    background: slateblue;
}

.headtext {
    max-width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 10px;
}

#navigation {
    width: 100%;
    background: darkblue;
    float: left;
}

#navbar {
    width: 70%;
    height:10%;
    background: darkblue;
    float: left;
}

.navbar ul {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    }

.navbar li {
    margin-right: 10px;
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    color: yellow;
    text-decoration: none;
}

.navbar li a:hover {
    color: lightgray;
}

#sosmed {
    height: 100%;
    width: 30%;
    font-size: 2rem;
    float: right;
    text-align: right;
    color: white;
    background: rgb(4, 217, 245);
    padding-top: 0.5%;
}

.account {
   margin-right: 20px;
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    float: left;
    position: relative;
    background: #00d9fff8;
}

.post-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 32, 36);
    font-size: 2rem;
    padding: 0 10px 0 10px;
    text-align: center;

}

.text {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.3rem;
    text-align: justify;
    padding: 0 10px 0 10px;
}


#footer {
    height: 10%;
    max-height: 100%;
    width: 100%;
    background: rgb(31, 14, 46);
    float: left;
}

.footext {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}